.title{
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 55px;
}

.title--text{
    font-family: 'Inter';
    font-style: normal;
    font-size: 14.46px;
    line-height: 18px;
    line-height: 100%;
    color: #FFFFFF;
    margin-left: 11px;
}
