.journal{
    width: 550px;
    height: 704px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.cardConatiner{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin-top: 5%;

}